<body>
    <div class="background-blobs"></div>
  
    <div class="container">

      <!-- SIDEBAR -->
      <app-sidebar></app-sidebar>
  
      <!-- MAIN CONTENT -->
      <div class="main-content">

        <!-- HEADER -->
        <section class="hero">
          <div class="hero-text">
            <h3 class="h3Hero">OMAT<span class="sncHero">s.n.c</span></h3>
            <hr class="hrHero">
            <h2 class="h2Hero">Richiedi il tuo</h2>
            <h1 class="h1Hero">Ordine</h1>
            <p>Compila il form per richiedere la lavorazione del tuo pezzo.
              Il nostro team valuterà l'ordine e ti ricontatterà.</p>
          </div>
        </section>
  
        <!-- SECTIONS -->
        <section class="form2 glass">
          <div class="form2-text">
            <div id="nomeDiv" class="divsForm">
              <label class="labelsForm">Nome:</label>
              <input class="inputText" type="text" id="Nome" placeholder="Inserisci qui il nome del prodotto..">
            </div>
            <div id="descrizioneDiv" class="divsForm">
              <label class="labelsForm">Descrizione:</label>
              <textarea class="inputDescrizione" type="text" id="Descrizione" placeholder="Inserisci qui la descrizione del prodotto.."></textarea>
            </div>
            <div id="imageDiv" class="divsForm">
              <label class="labelsForm">Disegno dell'ordine:</label>
              <div class="divImageForm">
                <input type="file" hidden accept="image/*">
                <div class="insideImageForm">
                  <img src="assets/images/Gallery.png" alt="upload icon" class="iconForm">
                  <p class="pImageForm">
                    Trascina qui l’immagine oppure
                    <span id="clickUpload" style="cursor: pointer; text-decoration: underline;">clicca qui</span>
                    per sfogliare le cartelle.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- FOOTER -->
        <app-chi-siamo></app-chi-siamo>
      </div>
    </div>
  </body>