<footer class="omat-footer glass-opaco">

  <div class="footer-brand">
    <h2>OMAT<span class="snc">s.n.c.</span></h2>
    <div class="voci">
      <p>P.IVA: <span class="text-info">0123456789</span> </p>
      <p>Codice Fiscale: <span class="text-info">9876543210</span> </p>
    </div>
  </div>

  <div class="footer-grid">
    <div class="footer-info">
      <h4>Contatti</h4>
      <div class="voci">
        <p><!--<i data-lucide="map-pin"></i>--><a href="#">Via Artigiani, 14 - 12030 Italia</a></p>
        <p><!--<i data-lucide="phone"></i>--><a href="#">+39 0123 45678</a></p>
        <p><!--<i data-lucide="mail"></i>--><a href="">contatti@omat.com</a></p>
      </div>
    </div>

    <div class="footer-info">
      <h4>Link Utili</h4>
      <div class="voci">
        <p><a href="#">Privacy Policy</a></p>
        <p><a href="#">Termini e Condizioni</a></p>
        <p><a href="#">Whistleblowing</a></p>
      </div>
    </div>

    <div class="footer-info">
      <h4>Social</h4>
      <div class="voci">
        <p><a href="#"><i data-lucide="linkedin"></i> Linkedin</a></p>
        <p><a href="#"><i data-lucide="facebook"></i> Facebook</a></p>
        <p><a href="#"><i data-lucide="instagram"></i> Instagram</a></p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2026 OMAT s.n.c. - Tutti i diritti riservati</p>
  </div>
</footer>