<body>
    <div class="background-blobs"></div>
    
    <div class="container">
      <!-- Sidebar fissa -->
      <div class="sidebar glass">
        <h2 class="title">OMAT</h2>
        <div id="buttons">
          <button id="btnLogin" class="login-button">
            <p class="text">Login</p>
          </button>
          <hr class="hrSide">
          <button id="order-button" class="button">
            <i data-lucide="clipboard-list" class="icon"></i>
            <p class="text">Prenota il tuo ordine</p>
            <!-- <span class="badge">5</span> -->
          </button>
          <button id="stage-button" class="button">
            <i data-lucide="graduation-cap" class="icon"></i>
            <p class="text">Richiedi di fare il PCTO da noi</p>
            <!-- <span class="badge">2</span> -->
          </button>
          <button id="contact-button" class="button">
            <i data-lucide="info" class="icon"></i>
            <p class="text">Chi siamo e contatti</p>
          </button>
        </div>
        <button id="btnLogout" class="logout-button">
          <p class="text">Logout</p>
        </button>
      </div>
  
      <!-- Contenuto principale -->
      <div class="main-content">
        <section class="hero">
          <div class="hero-text">
            <h3 class="h3Hero">OMAT<span class="sncHero">s.n.c</span></h3>
            <hr class="hrHero">
            <h2 class="h2Hero">Prenota il tuo</h2>
            <h1 class="h1Hero">PCTO</h1>
            <p>Compila il form per prenotare il tuo PCTO presso OMAT. <br>
            Ti ricontatteremo per confermare la disponibilità.</p>
          </div>
        </section>
  
        <section class="form2 glass">
          <div class="form2-text">
            <div class="union">
              <div class="divsForm">
                <label class="labelsForm">Nome:</label>
                <input class="inputText" type="text" id="Nome" placeholder="Inserisci qui il tuo Nome..">
              </div>
              <div class="divsForm">
                <label class="labelsForm">Cognome:</label>
                <input class="inputText" type="text" id="Cognome" placeholder="Inserisci qui il tuo Cognome..">
              </div>
            </div>
  
            <div class="union2">
              <div class="divsForm">
                <label class="labelsForm">Città:</label>
                <input class="inputText" type="text" id="Citta" placeholder="Inserisci qui la tua città di provenienza..">
              </div>
              <div class="divsForm">
                <label class="labelsForm">CAP:</label>
                <input class="inputText" type="text" id="Cap" placeholder="Inserisci qui il CAP..">
              </div>
            </div>
  
            <div id="scuolaDiv" class="divsForm">
              <label class="labelsForm">Scuola:</label>
              <input class="inputText" type="text" id="Scuola" placeholder="Inserisci qui il tuo Nome..">
            </div>
  
            <div class="union">
              <div class="divsForm select-wrapper">
                <label class="labelsForm">Classe:</label>
                <select class="inputText" name="classe" id="classeForm">
                  <option value="null" selected>Inserisci qui la classe che frequenti..</option>
                  <option value="3">3ª</option>
                  <option value="4">4ª</option>
                </select>
              </div>
              <div class="divsForm">
                <label class="labelsForm">Indirizzo:</label>
                <input class="inputText" type="text" id="Indirizzo" placeholder="Inserisci qui l'indirizzo che frequenti..">
              </div>
            </div>
  
            <div class="union">
              <div class="divsForm">
                <label class="labelsForm">Data Inizio:</label>
                <input class="inputText" type="date" id="dataInizio">
              </div>
              <div class="divsForm">
                <label class="labelsForm">Data Fine:</label>
                <input class="inputText" type="date" id="dataFine" placeholder="GG/MM/AAAA">
              </div>
            </div>
            
            <div id="descrizioneDiv" class="divsForm">
              <label class="labelsForm">Perché vorresti fare il PCTO presso OMAT s.n.c.?</label>
              <textarea class="inputDescrizione" type="text" id="Descrizione" placeholder="Inserisci qui la descrizione del prodotto.."></textarea>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>