<body>
    <div class="background-blobs"></div>
    
    <div class="container">
      <!-- Sidebar fissa -->
      <div class="sidebar glass">
        <h2 class="title" (click)="goToHome()">OMAT</h2>
        <div id="buttons">
          <button id="btnLogin" class="login-button">
            <p class="text">Login</p>
          </button>
          <hr class="hrSide">
          <button id="order-button" class="button" (click)="goToOrdini()">
            <i data-lucide="clipboard-list" class="icon"></i>
            <p class="text">Prenota il tuo ordine</p>
            <!-- <span class="badge">5</span> -->
          </button>
          <button id="stage-button" class="button" (click)="goToPCTO()">
            <i data-lucide="graduation-cap" class="icon"></i>
            <p class="text">Richiedi di fare la FSL da noi</p>
            <!-- <span class="badge">2</span> -->
          </button>
          <button id="contact-button" class="button">
            <i data-lucide="info" class="icon"></i>
            <p class="text">Chi siamo e contatti</p>
          </button>
        </div>
        <button id="btnLogout" class="logout-button">
          <p class="text">Logout</p>
        </button>
      </div>
      </div>
  </body>

  <div class="main-content">
    <footer class="omat-footer glass">
      <div class="footer-grid">
        <div class="footer-brand">
          <h2 class="footer-logo-text">OMAT<span>s.n.c.</span></h2>
          <p class="footer-subtext">P.IVA 0123456789</p>
          <p class="footer-subtext">Codice Fiscale: 9876543210</p>
        </div>

        <div class="footer-info">
          <h4>Contatti</h4>
          <p>
            <i data-lucide="map-pin"></i> Via dell'Artigianato, 123 - 00100
            Italia
          </p>
          <p><i data-lucide="phone"></i> +39 0123 45678</p>
          <p><i data-lucide="mail"></i> contatti@omat.com</p>
        </div>

        <div class="footer-legal">
          <h4>Link Utili</h4>
          <p><a href="#">Privacy Policy</a></p>
          <p><a href="#">Termini e Condizioni</a></p>
          <p><a href="#">Whistleblowing</a></p>
        </div>

        <div class="footer-social">
          <h4>Social</h4>
          <p>
            <a href="#"><i data-lucide="linkedin"></i> Linkedin</a>
          </p>
          <p>
            <a href="#"><i data-lucide="facebook"></i> Facebook</a>
          </p>
          <p>
            <a href="#"><i data-lucide="instagram"></i> Instagram</a>
          </p>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2026 OMAT s.n.c. - Tutti i diritti riservati</p>
      </div>
    </footer>
  </div>