<div class="background-blobs"></div>

  <div class="container">

    <!-- SIDEBAR -->
    <app-sidebar></app-sidebar>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <!-- HEADER -->
      <section class="hero">
        <div class="hero-text">
          <h1 class="h1Hero">OMAT<span class="sncHero">s.n.c</span></h1>
          <h3 class="h3Hero">di Merlati Davide e Gotta Flavio</h3>
          <h2 class="h2Hero">Officina Meccanica di Precisione</h2>
          <hr class="hrHero">
          <p>Costruzione attrezzatura e manutenzione <br>
            Lavorazione di pezzi singoli e piccole serie</p>
        </div>
      </section>

      <!-- SECTIONS -->
      <section class="section glass">
        <div class="section-text">
          <h2 class="h2-home">Chi siamo</h2>
          <p class="p-home">OMAT s.n.c. è un’officina meccanica di precisione specializzata nella
            realizzazione di lavorazioni su misura. Offriamo servizi di costruzione
            attrezzature, manutenzione e produzione di pezzi singoli o piccole serie.</p>
            <!-- Da chiedere descrizione -->
          <div class="div-img-home">
            <img src="../../../assets/images/default.png" alt="Officina" class="img-chisiamo">
            <img src="../../../assets/images/default.png" alt="Officina" class="img-chisiamo">
          </div>
        </div>
      </section>

      <!-- FOOTER -->
      <app-chi-siamo></app-chi-siamo>
    </div>
  </div>
